html {
    background-color: #C6C0A0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;

}

h1 {
    text-align: center;
}
h2{
    text-align: center;
    color: brown;
}
.navigation {
    width: 180px;
}

.navigation li a {
    display: block;
    background: rgb(190, 190, 30);
    border-radius: 12px;
    line-height: 25px;
    text-decoration: none;
    padding: 3px;
}

.navigation ul {
    box-sizing: content-box;
    border-radius: 12px;
    list-style: none;
    float: initial;
}

.navigation ul li {
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    border-radius: 12px;
    text-align: center;


}

.navigation li a:hover,
.navigation li a:focus,
.navigation li a:active {
    background: rgb(240, 147, 7);
}

.menu {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
    width: 150px;
    background: tomato;
    padding: 15px;
    margin: 0;


}


.conteneur  {
    
    color: blue;
    width: auto;

}

.conteneur1 {
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    
   
    
}
p{
    text-align: center;
}


img {
    width: 200px;
    position: relative;
    border-style: ridge;
    box-shadow:6px 6px 12px gray;
    padding: 5px;
}
.texte{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: left;
    margin: 15px;
    
}
.para1{
background-color: aquamarine;padding: 10px;margin: 5px;
}
.para2{
background-color: blueviolet;padding: 10px;margin: 5px;
}
.para3{
background-color: brown;padding: 10px;margin: 5px;
}